<div class="is-flex is-flex-direction-column is-align-items-center" style="view-transition-name: fade">
  <div style="background-color: transparent;" id="recordCard" class="card is-flex is-flex-direction-column m-2"> 
    <h1 class="title is-2 has-text-centered">Your Daily <%= title %></h1>
    <div class="card-image is-align-self-center">
      <figure class="image is-128x128" >
        <%= image_tag @record.pokemon.sprite %>
      </figure>
    </div>
    <div class="card-content" style="background-color: black">
      <h2 class="title is-2 has-text-centered">
        <%= @record.pokemon.name.capitalize %>
      </h2>
      <p class="content" style="white-space: pre-wrap"><%= @record.body %></p>
    </div>
  </div>
</div>
  <style>
    #recordCard {
      box-shadow: unset;
      max-width: 40rem; 
      animation: fadeInAnimation ease 5s;
    }
    ::view-transition-old(fade) {
      animation: fadeOutAnimation ease 1s;
    }
    @keyframes fadeOutAnimation {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      30% {
        opacity: 0;
      }
      100% {
          opacity: 1;
      }
    }
  </style>

