<turbo-frame id="horoscope">
  <div style="background-color: transparent;" id="horoscopeCard" class="card is-flex is-flex-direction-column m-2"> 
    <div class="card-image is-align-self-center">
      <figure class="image is-128x128" >
        <%= image_tag @horoscope.sprite %>
      </figure>
    </div>
    <div class="card-content" style="background-color: black">
      <h2 class="title is-2 has-text-centered"><%= @horoscope.name.capitalize%></h1>
      <p class="content"><%= @horoscope.body %></p>
    </div>
  </div>

  <style>
    #horoscopeCard {
      box-shadow: unset;
      max-width: 40rem; 
      animation: fadeInAnimation ease 5s
    }
    @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      30% {
        opacity: 0;
      }
      100% {
          opacity: 1;
      }
    }
  </style>
</turbo-frame>

