<div class="is-flex is-flex-direction-column is-align-items-center">
  <h1 class="title is-1 has-text-centered">Your Daily Horoscope</h1>
  <turbo-frame id="horoscope" src="/pokemon_horoscopes/show" >
  </turbo-frame>
</div>
